body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.dashboard {
    min-height: 100vh;
    display: flex;
    background-image: url('../assets/background3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-content {
    flex: 1;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    margin: auto;
    /* centraliza */
    max-width: 70%;
}

.welcome-container {
    text-align: center;
    color: white;
}

.onibus-img {
    width: 300px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}